.Messages {
  @apply pt-3;
  @apply pl-4;
  @apply h-[100%];
  overflow-y: scroll;
  @apply bg-[#dbdbdb];

  .MessagesHeading {
    @apply p-[.5em];
    margin: 0 auto;
    @apply mb-2;
    @apply w-[50%];
    @apply text-center;
    @apply text-white;
    @apply rounded-2xl;
    font-family: 'PT Sans', sans-serif;
    @apply font-medium;
    @apply bg-[#2c3e50];
  }

  audio {
    @apply mt-1;
    @apply mb-[3em];
    @apply mr-0;
    @apply ml-0;
    @apply p-0;
    height: 35px;
  }

  .Message {
    @apply flex;
    @apply gap-[20px];
    @apply mb-[1.3em];

    .MessageDetails {
      @apply flex-col;

      .ConversationProfilePic {
        @apply w-[2.5em];
        @apply h-[2.5em];
      }

      .SendReceivedDate {
        @apply text-gray-500;
        @apply font-light;
      }
    }

    .MessageContent {
      display: flex;
      @apply cursor-pointer;
      flex-direction: column;
      @apply gap-[.9em];
      transition: transform .2s ease-in-out;

      p {
        @apply bg-[white];
        @apply font-medium;
        padding: 10px 20px;
        font-family: 'PT Sans', sans-serif;
        border-radius: 0 15px 15px 15px;
        max-width: max-content;
      }

      img {
        @apply w-[50%];
        border-radius: 0 15px 15px 15px;
        border: 8px solid white;
      }
    }

    &.LoggedUsersMessage {
      flex-direction: row-reverse;
      @apply pl-0;
      @apply pr-4;
      .MessageContent {
        align-items: flex-end;

        p {
          @apply bg-[#108e8e];
          @apply font-medium;
          @apply text-white;
          white-space: pre-line;
          border-radius: 15px 0 15px 15px;
          max-width: max-content;
        }

        img {
          border: 8px solid #108c8e;
          border-radius: 15px 0 15px 15px;
        }

        img::selection {
          background-color: transparent;
        }
      }

      audio {
        margin: 0;
        padding-right: 0;
      }

      audio::-webkit-media-controls-panel {
        background-color: #108c8e;
      }
    }

    .ImageMessage.LoggedUsersMessage {
      display: flex;
      justify-content: flex-end;
      transform: translateX(10px);
      flex-direction: column;
      gap: 0;
      height: 30%;
      width: 35%;
      @apply gap-[0.9em];
      background-color: #108c8e;
      border-radius: 15px 0 15px 15px;

      .SourceImage {
        @apply pt-2;
        @apply pl-2;
        @apply pr-2;
        @apply pb-0;
        @apply mb-0;
        border-radius: 15px 0 15px 15px;
      }

      span {
        @apply ml-[1em];
        @apply mr-[1em];
        @apply text-white;
        @apply mb-2;
        max-width: max-content;
      }
    }

    .ImageMessage {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      gap: 0;
      height: 30%;
      width: 35%;
      @apply gap-[0.9em];
      background-color: white;
      border-radius: 0 15px 15px 15px;

      .SourceImage {
        @apply pt-2;
        @apply pl-2;
        @apply pr-2;
        @apply pb-0;
        @apply mb-0;
        border-radius: 0 15px 15px 15px;
      }

      span {
        @apply ml-[1em];
        @apply mr-[1em];
        @apply text-black;
        @apply mb-2;
        max-width: max-content;
      }
    }

    .VideoMessage.LoggedUsersMessage {
      display: flex;
      justify-content: flex-start;
      transform: translateX(15px);
      flex-direction: column;
      gap: 0;
      height: 30%;
      width: 35%;
      @apply gap-[0.9em];
      @apply bg-[#108e8e];
      border-radius: 15px 0 15px 15px;

      .VideoSource {
        @apply pt-2;
        @apply pl-2;
        @apply pr-2;
        @apply pb-0;
        @apply mb-0;
        border-radius: 15px 0 15px 15px;
      }

      span {
        @apply ml-[1em];
        @apply mr-[1em];
        @apply text-white;
        @apply mb-2;
        max-width: max-content;
      }
    }

    .VideoMessage {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      gap: 0;
      height: 30%;
      width: 35%;
      @apply gap-[0.9em];
      background-color: white;
      border-radius: 0 15px 15px 15px;

      .VideoSource {
        @apply pt-2;
        @apply pl-2;
        @apply pr-2;
        @apply pb-0;
        @apply mb-0;
        border-radius: 0 15px 15px 15px;
      }

      span {
        @apply ml-[1em];
        @apply mr-[1em];
        @apply text-black;
        @apply mb-2;
        max-width: max-content;
      }
    }

    .FileMessage.LoggedUsersMessage {
      display: flex;
      @apply ml-[3em];
      justify-content: space-between;
      align-items: center;
      @apply w-auto;
      min-width: 25%;
      transform: translateX(15px);
      max-width: max-content;
      @apply bg-[#108e8e];
      @apply text-white;
      border-radius: 15px 0 15px 15px;

      .FileMessageLeft {
        display: flex;
        @apply pl-2;
        @apply pt-2;
        flex-direction: row;
        align-items: center;

        .FileIcon {
          @apply w-[50px];
          @apply h-[50px];
        }
      }

      .DownloadButton {
        display: flex;
        align-items: center;
        @apply pt-1;

        .DownloadIcon {
          @apply mt-1;
          @apply mr-2;
          font-size: 1.8em;
          transition: .2s ease-in-out;
        }

        .DownloadIcon:hover {

          color: #094561;
        }
      }
    }
  }
}