.Messages {
  @apply pt-3;
  @apply pl-4;
  @apply h-[100%];
  overflow-y: scroll;
  @apply bg-[#dbdbdb];

  audio {
    @apply mt-1;
    @apply mr-0;
    @apply ml-0;
    @apply p-0;
    height: 35px;
  }

  .Message {
    @apply flex;
    @apply gap-[20px];
    @apply mb-[1.3em];

    .MessageDetails {
      @apply flex-col;

      .ConversationProfilePic {
        @apply w-[2.5em];
        @apply h-[2.5em];
      }

      .SendReceivedDate {
        @apply text-gray-500;
        @apply font-light;
      }
    }

    .MessageContent {
      display: flex;
      @apply cursor-pointer;
      flex-direction: column;
      @apply gap-[.9em];
      transition: transform .2s ease-in-out;

      p {
        @apply bg-[white];
        @apply font-medium;
        padding: 10px 20px;
        font-family: 'PT Sans', sans-serif;
        border-radius: 0 15px 15px 15px;
        max-width: max-content;
      }

      img {
        @apply w-[50%];
        border-radius: 0 15px 15px 15px;
        border: 8px solid white;
      }
    }

    &.LoggedUsersMessage {
      flex-direction: row-reverse;
      @apply pl-0;
      @apply pr-4;
      .MessageContent {
        align-items: flex-end;

        p {
          @apply bg-[#108e8e];
          @apply font-medium;
          @apply text-white;
          white-space: pre-line;
          border-radius: 15px 0 15px 15px;
          max-width: max-content;
        }

        img {
          border: 8px solid #108c8e;
          border-radius: 15px 0 15px 15px;
        }

        img::selection {
          background-color: transparent;
        }
      }

      audio::-webkit-media-controls-panel {
        background-color: #108c8e;

      }


    }
  }
}