.PostWrapper {
  display: flex;
  @apply w-[80%];
  border: 2px solid #dbdbdb;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  border-radius: 10px;
  overflow: hidden;
  flex-direction: column;
  font-family: 'PT Sans', sans-serif;
  @apply mb-5;

  .PostHeader {
    display: flex;
    flex-direction: row;
    @apply p-3;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    font-family: 'PT Sans', sans-serif;

    .PostDetails {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
    }
  }

  .TextPost {
    white-space: pre-wrap;
    @apply p-3;
    font-size: 1.5em;
  }

  .MediaPost {
    .PostDescription {
      white-space: pre-wrap;
      @apply p-3;
    }

    .PostResource {
      display: block;
      @apply p-3;
      margin: 0 auto;
      width: 100%;
      outline: none;
      height: auto;
    }
  }
}

.PostDivider {
  @apply w-[97%];
  margin: 0 auto;
  height: 2px;
  @apply bg-black;
  opacity: 20%;
}

.PostReactions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  @apply p-3;

  .Reaction {
    img {
      @apply w-[30px];
      @apply h-[30px];
    }

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .2em;
  }
}

.ReactionsDialogTitle {
  font-family: 'Rajdhani', sans-serif;
  @apply text-[1.5em];
  @apply text-center;
  @apply font-extrabold;
}

.NoReactions {
  @apply text-center;
  font-family: 'PT Sans', sans-serif;
  @apply mb-[1em];
  @apply text-[1.1em];
}


.ListElement {
  transition: .2s ease-in-out;
  cursor: pointer;
}

.ListElement:hover {
  background-color: #dbdbdb;
}

.ReactionsList:last-child {
  @apply mb-[0.5em];
}

.CommentsList {
  overflow-y: scroll;
}

.CommentsList::-webkit-scrollbar{
  display: none;
}

.NoComments {
  display: block;
  margin: 0 auto;
  @apply mt-[2em];

  .NoCommentsImage {
    @apply w-[40%];
    @apply block;
    margin: 0 auto;
  }

  h3 {
    font-family: "PT Sans", sans-serif;
    @apply font-bold;
    @apply text-[1.2em];
    @apply text-center;
    @apply mb-[0.5em];
  }
}


.Comment {
  @apply cursor-pointer;
  @apply p-2;
  @apply w-[100%];
  overflow: visible;
  font-family: 'PT Sans', sans-serif !important;
  transition: .2s ease-in-out;
}

.Comment:hover {
  background-color: #dbdbdb;
}

.CommentForm {
  position: sticky;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  @apply w-[100%];
  @apply h-[70px];
  @apply p-2;
  border-top: 1px solid #dbdbdb;

  textarea {
    @apply outline-0;
    @apply resize-none;
    @apply w-[90%];
    @apply h-[40px];
    @apply pt-2;
    white-space: pre-line;
    font-family: 'PT Sans', sans-serif;
    @apply pl-2;
  }

  textarea::-webkit-scrollbar {
    display: none;
  }
}


.SendCommentIcon {
  @apply text-[#108e8e];
  @apply w-[30px];
  @apply h-[30px];
}

.MuiDialog-container{
  margin-bottom:0!important;
  padding-bottom: 0!important;

  & .MuiPaper-root{
    margin-bottom:0!important;
    padding-bottom: 0!important;
  }
}

.MuiDialog-container::-webkit-scrollbar{
  display: none!important;
}
.MuiDialog-container {
  & .MuiPaper-root::-webkit-scrollbar {
    display: none!important;
  }
}