.InputPlaceholder{
  font-family:'PT Sans',sans-serif;
}

.InputLabel{
  color:#094561 !important;
}
.input__label{
  color:#094561 !important;
}

.TextField{
  color:#094561 !important;
}

.text-field{
  font-family: "Times New Roman", serif !important;
}