.FormLabel,
.ErrorFormLabel {
  margin-top: .5em !important;
  font-family: "PT Sans", sans-serif !important;
  margin-left: .6em !important;
  font-size: 1em !important;
  font-weight: 500 !important;
  opacity: 75%;
}

.ErrorFormLabel {
  color: red !important;
}

.TextArea {
  border: 2px solid rgba(9, 69, 97, .75);
  transition: .2s ease-in-out !important;
  margin: 0 auto !important;
  margin-bottom: .5em !important;
  width: 100%;
  overflow: hidden;
}


.TextArea:focus {
  border: 4px solid rgba(9, 69, 97, 1) !important;
  outline: none !important;
}

.TextareaButton {
  font-family: 'PT Sans', sans-serif !important;
  color: white !important;
  background-color: rgba(28, 39, 60, .85) !important;
  @apply font-extrabold;
  text-transform: capitalize !important;
}
