.SignUp {
  margin-top: 1em;
  border: none;
  @apply p-[.2em];
}

.AlertSuccess {
  @apply w-[100%];
  @apply mt-[1em];
  @apply mb-[1em];
  border-radius: 15px !important;
  background-color: #108c8e !important;
}

.AlertError,
.AlertSuccess,
.AlertSuccess2,
.AlertInfo {
  @apply w-[100%];
  @apply mt-[1em];
  @apply mb-[1em];
  border-radius: 15px !important;
}

.AlertError {
  background-color: red;
}

.AlertInfo {
  background-color: #afdac9 !important;
}

.AlertSuccess {
  background-color: #108c8e !important;
}

.AlertSuccess2 {
  background-color: #094561 !important;
}

#success {
  @apply opacity-0;
}

@media screen and (min-width: 1170px) {
  .AlertSuccess,
  .AlertError,
  .AlertSuccess2 {
    @apply w-[30%];
    @apply ml-[1em];
  }
}
