.ReachMeToast{
  background-color:white!important;
  border-radius: 15px!important;
  color:black;
  font-family: 'PT Sans', sans-serif!important;
}

.Toastify__progress-bar {
 background-color:#108c8e!important;
}

.Toastify__close-button{
  color: black!important;
}

.ToastWrapper{
  display:flex;
  flex-direction: column;
  .ToastRowOne {
    @apply w-[100%];
    display: flex;
    flex-direction: row;
    .ReceiverProfilePictureRounded {
      @apply w-[45px];
      @apply h-[45px];
      border-radius: 100%;
      @apply mr-4;
    }
  }
  .ToastRowTwo{
    @apply gap-4;
    display:flex;
    flex-direction:row;
    align-items: flex-start;

    button{
        font-family:'Roboto', sans-serif;
        @apply mt-[.5em];
      }
  }
}