.ChatsWrapper {
  @apply opacity-0;
  @apply text-white;
  @apply cursor-pointer;

  .EmptyConversation {
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .EmptyConversationImage {
      @apply w-[30%];
      @apply h-[30%];
      @apply mt-[5em];
    }

    h2 {
      @apply text-[2em];
    }

    h3 {
      @apply text-[1.5em];
    }
  }

  .Subtitle {
    @apply text-[1.4em];
    @apply p-4;
    @apply font-extrabold;
    font-family: 'PT Sans', sans-serif;
  }

  .ConversationDetailsFlexWrapper {
    @apply flex;
    @apply justify-between;
    @apply items-center;
    transition: .2s ease-in-out;

    .UserChats {
      @apply p-3;
      @apply mt-[.2em];
      @apply flex;
      @apply items-center;
      @apply mb-[.3em];

      .UserProfilePic {
        vertical-align: middle;
        @apply w-[7vmin];
        @apply h-[7vmin];
        @apply mr-[.4em];
      }

      .SearchResultNames {
        @apply flex-col;
        @apply ml-[1em];
        @apply cursor-pointer;
        @apply m-0;
        font-family: 'PT Sans', sans-serif;

        .searchNameDetails {
          width: 70%;
          //text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        .First {
          @apply font-extrabold;
          @apply text-[1.1em];
        }
      }
    }

    .MessageDate {
      @apply p-3;
      font-family: 'PT Sans', sans-serif;
      @apply font-bold;
      @apply text-[.8em];
      .Notification {
        background-color: red;
        color: white;
        border-radius: 100%;
        width: 20px;
        height: 20px;
        text-align: center;
        margin: 0 auto;
        @apply mt-1;
      }
    }
  }

  .ConversationDetailsFlexWrapper:active,
  .ConversationDetailsFlexWrapper:hover {
    @apply bg-[#063954];
  }

  .ConversationDetailsFlexWrapper::-webkit-scrollbar {
    display: none;
  }
}

.ContextualMenu {
  font-family: 'PT Sans', sans-serif !important;
  border-radius: 20px !important;
  width: 400px !important;

  .ChatMenuItem {
    font-family: 'PT Sans', sans-serif !important;
  }
}


