.Notification {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  transition: .2s ease-in-out;
  cursor: pointer;
  @apply p-2;

  .LeftNotificationFlex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    @apply ml-[1em];

    .NotificationImage {
      @apply rounded-3xl;
      @apply w-[50px];
      @apply h-[50px];
    }

    .NotificationTextColumn {
      display: flex;
      flex-direction: column;
      font-family: 'PT Sans', sans-serif;

      .NotificationText {
        @apply ml-[1em];
        @apply font-bold;
      }

      .NotificationDate {
        @apply font-normal;
        @apply ml-[1em]
      }
    }
  }

  .RightNotificationFlex {
    display: flex;
    justify-content: space-between;
    font-family: 'PT Sans', sans-serif;

    button {
      @apply text-white;
      @apply p-[.5em];
      @apply outline-0;
      @apply rounded-md;
      transition: .2s ease-in-out;
    }

    .GoToButton {
      @apply mr-3;
      @apply bg-[#094561];

    }

    .DismissButton {
      @apply mr-2;
      @apply bg-[#f46f46];
    }

    .GoToButton:hover {
      @apply bg-[#108e8e];
    }

    .DismissButton:hover {
      @apply bg-[#eeb854];
    }
  }
}

.Notification:hover {
  background-color: #dbdbdb;
}