.ProfilePictureManagerDialog,
.ProfileInfoManagementDialog {
  border-radius: 15px !important;
  transition: .2s ease-in-out !important;

  .ManagerDialogTitle {
    @apply text-[1.5em];
    @apply font-extrabold;
    @apply text-[#094561];
    @apply text-center;
    font-family: 'Rajdhani', sans-serif !important;

  }

  .UploadButton,
  .DeleteButton,
  .Cancel {
    font-family: 'PT Sans', sans-serif !important;
    @apply font-bold;
    @apply text-[#108e8e];
  }

  .DeleteButton {
    @apply text-[red];
  }

  .Cancel {
    @apply text-[#fed349];
  }

  .ProfilePictureSuccessAlert,
  .ProfilePictureErrorAlert {
    @apply mt-[1em];
    border-radius: 0 !important;
  }

  .ProfilePictureErrorAlert {
    @apply bg-[red];
  }

  .ProfilePictureSuccessAlert {
    @apply bg-[#094561];
  }

  #ChangeProfilePictureInput {
    display: none;
  }

}

