* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.FeedWrapper {
  display: flex;
  justify-content: space-between;
  @apply mt-5;
  height:20000px;

  .LeftSide {
    flex: 4;
    display: flex;
    align-items: center;
    flex-direction: column;
    @apply mt-8;
  }

  .RightSide {
    position:sticky;
    top:100px;
    flex: 2;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-self:flex-start;

    .NewUsersWrapper {
      position:sticky;
      @apply w-[80%];
      border: 2px solid #dbdbdb;
      box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
      align-items: center;
      @apply bg-[#fff];
      @apply p-2;
      @apply rounded-md;
      @apply mb-[1rem];

      h3 {
        font-family: 'Rajdhani', sans-serif;
        @apply text-[1.5em];
        @apply text-center;
        @apply text-[#108e8e];
        @apply font-bold;
        @apply mt-1;
        @apply mb-2;
        @apply cursor-pointer;
      }

      .NewUser {
        @apply mb-[1em];
        @apply ml-2;
        @apply cursor-pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .NewUserLeftSide {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 1em;

          .NameDetailsColumn {

            .UserRealName {
              font-family: 'PT Sans', sans-serif;
              @apply font-bold;
            }
          }
        }

        .NewUserRightSide {
          display: flex;
          flex-direction:column;

          .SendMessageButton{
            display: flex;
            justify-content: center;
            @apply bg-[#108e8e];
            @apply text-white;
            gap:10px;
            font-family: 'PT Sans', sans-serif;
            @apply font-medium;
            @apply p-[0.2em];
            border-radius:10px;
            transition:.2s ease-in-out;
            @apply mr-1;

            span{
              @apply ml-1;
            }
          }
          .SendMessageButton:hover{
            @apply bg-[#094561];
          }
        }
      }
    }

    .UserActivityCollectionWrapper{
      @apply w-[80%];
      border: 2px solid #dbdbdb;
      box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
      align-items: center;
      @apply bg-[#fff];
      @apply p-2;
      @apply rounded-md;

      h3{
        font-family: 'Rajdhani', sans-serif;
        @apply text-[1.5em];
        @apply text-center;
        @apply text-[#108e8e];
        @apply font-bold;
        @apply mt-1;
        @apply mb-2;
        @apply cursor-pointer;
      }
    }
  }
}