.CarouselHeadingTitle {
  @apply text-center;
}

.CarouselWrapper {
  height: 65%;
  width: 65%;
  margin: 0 auto;
  margin-top: 2em !important;
}

.CarouselImagePreview {
  width: 90%;
  height: 90%;
}
