.Subtitle {
  @apply text-[1.4em];
  @apply cursor-pointer;
  @apply p-3;
  @apply font-extrabold;
  font-family: 'PT Sans', sans-serif;
}

.Searcher {
  @apply p-2;
  @apply bg-[#063954];
  @apply text-white;
  @apply h-auto;
  @apply w-[100%];
  overflow: scroll;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16), 0 2px 4px rgba(0, 0, 0, 0.23);
  opacity: 0;
  transition: .5s ease-in-out;

  form {
    @apply h-[2em];
    input {
      @apply outline-0;
      @apply w-[100%];
      margin: 0 auto;
      @apply overflow-hidden;
      @apply text-center;
      @apply bg-[#063954];
      @apply font-extrabold;
      transition: .2s ease-in-out;
      font-family: 'PT Sans', sans-serif;
    }

    input:focus {
      border-bottom: 1px solid #108c8e;
    }
  }

  .ResultsText {
    @apply text-center;
    @apply font-bold;
    @apply font-[1.2em];
    @apply mt-1;
  }

  .SearchResults {
    @apply p-2;
    @apply mt-[.2em];
    @apply flex;
    @apply items-center;
    @apply mb-[.3em];

    .UserProfilePic {
      vertical-align: middle;
      @apply w-[7vmin];
      @apply h-[7vmin];
      @apply mr-[.3em];
    }

    .SearchResultNames {
      @apply flex-col;
      @apply ml-[1em];
      @apply cursor-pointer;
      @apply m-0;
      font-family: 'PT Sans', sans-serif;

      .First {
        @apply font-extrabold;
      }
    }
  }

  .SearchResults:active, .SearchResults:hover {
    @apply bg-[#094561];
  }

  .HideButton {
    @apply block;
    margin: 0 auto;
    background-color: #fed349;
    @apply rounded-md;
    @apply p-2;
    @apply font-extrabold;
    font-family: 'PT Sans', sans-serif;
    @apply text-[#094561];
    @apply mt-2;
    @apply w-[3em];
    transition: .2s ease-in-out;
  }

  .HideButton:active, .HideButton:hover {
    transform: translateY(-5px);
  }

  #UserSearcherAlerts {
    @apply rounded-l;
    @apply mt-2;
  }

}

.Searcher::-webkit-scrollbar {
  display: none;
}